.app-header{
    display:flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center
}
.app-header .custom_menu a{
    margin: 0 4px;
    text-decoration: none;
}

.app-header .title{
    font-family: 'Lobster','Roboto';
    color: #b9a799;
    font-size: 60px;
}

@media (max-width:  767px) {
    .app-header .title{
        font-size: 40px;
    }
   
  }
@media (max-width: 480px){
    .app-header .title{
        font-size: 30px;
    }
}
  