.App{
  max-width: 920px;
  padding:8px 40px;
  margin: auto;
  font-family:'Playfair Display', 'Roboto' ; 
}
.App-container{
  position:relative;
  min-height: 100vh;
}

.App-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(http://localhost:3000/Images/pexels-photo-434213.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.App-container::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background:rgba(0,0,0,0.3)
}

@media (max-width: 480px){
  .App .toolbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 92%;
    padding: 2% 4%;
    background-color: #5b3318;
    z-index: 1;
  }
}